<h2>Log in to account</h2>
<%# <%= form_for @user, new_user_path do |f| %>
	<%= f.label :email %>
	<%= f.string_field :email %>

	<%= f.label :password %>
	<%= f.string_field :password %>
	<% f.submit %>
<% end %> %>
