<h2>top menu</h2>

<%= link_to "Create New Account", new_user_path %>
<%= link_to "Log in", '/login' %>

<h2>All Restaurants: Index Page</h2>

<% if current_user %>
	you're logged in
<% else %>
	you're not logged in
<% end %>

<% @restaurants.each do |restaurant| %>
	<div class="restaurant_index_page" >
		<%= restaurant.name %>
		<%= restaurant.price_range %> | <%= restaurant.summary %>
		<br>
	</div>
<% end %>
