<h2>top menu</h2>

<h2>All Restaurants: Index Page</h2>

<% if logged_in? %>
	<%= link_to "Log out", logout_path, method: :delete %>
<% else %>
	<%= link_to "Create New Account", new_user_path %>
	<%= link_to "Log in", '/login' %>
<% end %>

<% @restaurants.each do |restaurant| %>
	<div class="restaurant_index_page" >
		<%= restaurant.name %>
		<%= restaurant.price_range %> | <%= restaurant.summary %>
		<br>
	</div>
<% end %>
