<h2>All Restaurants: Index Page (root)</h2>
<% if logged_in? %>
	<%= link_to "Log out", logout_path, method: :delete %>
	<p>You are logged in as: <%= current_user.email %>!</p>
	<% reso = @reservations.find_all { |reso| reso.user_id == current_user.id } %>
	<b>Your reservations:</b><br>
	<% reso.each do |r| %>
		Date: <%= r.reservation_date.strftime('%a %d %b %Y') %><br>
		Restaurant: <%= @restaurants.find( r.restaurant_id ).name %> | Loyalty Points: <% lp = @user.reservations.find_all { |res| res.restaurant_id == r.restaurant_id } %><%= lp.length %>
		<br>




		Guest Count: <%= r.guest_count %><br>
		<br>
		<% end %>

<% else %>
	<%= link_to "Create New Account", new_user_path %>
	<%= link_to "Log in", '/login' %>
<% end %>


<% @restaurants.each do |restaurant| %>
	<div class="restaurant_index_page" >
		<%= link_to "#{restaurant.name}", restaurant_path(restaurant) %>
		<%= restaurant.price_range %> | <%= restaurant.summary %>
		<% if current_user_is_restaurant_owner?(restaurant) %>
			You own this restaurant!
		<% end %>
		<br>
	</div>
<% end %>
