<h2>top menu</h2>

<%# <%= if ensure_logged_in == false %> %>
	<a href="#">Create New Account</a>
	<%# <%= link_to "Create New Account" new_user_path(@user) %> %>
<%# <%= else %> %>
	<a href="#">Log in</a>
	<%# <%= link_to "Log in", new_user_path(@user), method: :patch %> %>
<%# <%= end %> %>

<h2>All Restaurants: Index Page</h2>

<% @restaurants.each do |restaurant| %>
	<div class="restaurant_index_page" >
		<%= restaurant.name %>
		<%= restaurant.price_range %> | <%= restaurant.summary %>
		<br>
	</div>
<% end %>
