<h2>Show Page for Restaurants</h2>
<div class="restaurant-show-page-top">
	<%= link_to "Go back to all restaurants", root_path %><br>
	<% if current_user_is_restaurant_owner?(@restaurant) %>
		<%= link_to "Edit #{@restaurant.name} Profile", edit_restaurant_path(@restaurant) %>
	<% end %>
</div>

<div class="restaurant_index">
	<%= @restaurant.picture_url %>
	<ul>
		<li><%= @restaurant.name %></li>
		<li><%= @restaurant.address %></li>
		<li>Open at: <%= @restaurant.open_time %></li>
		<li>Closing at: <%= @restaurant.closing_time %></li>
		<li><%= link_to "Create a reservation for #{@restaurant.name}", reservations_path(@reservation) %></li>
	</ul>
</div>

<div class="restaurant_index">
	<%= @restaurant.menu %>
</div>
