<h2>Show Page for Restaurants</h2>

<div class="restaurant-show-page-top">
<!--  link for owners to goto restaurant profile page -->
<!--  Make   IF, restaurant-owner logged in, display link_to edit page-->
	<%= link_to "All Restaurants", root_path %>
	<%= link_to "Restaurant Profile Page", edit_restaurant_path(@restaurant) %>
</div>

<div class="restaurant_index">
	<%= @restaurant.picture_url %>
	<%= @restaurant.name %>
	<%= @restaurant.address %><br>
	Open at: <%= @restaurant.open_time %><br>
	Closing at: <%= @restaurant.closing_time %><br>
	<%= link_to "Create a reservation", reservations_path(@reservation) %><br>
	<%= @restaurant.menu %>
</div>
