<h2>Restaurants Show Page</h2>
<div class="restaurant-show-page-top">
	<div class='button'><%= link_to "Go back to all restaurants", root_path %></div>

</div>





	<% if current_user_is_restaurant_owner?(@restaurant) %>
		<%= link_to "Edit #{@restaurant.name} Profile", edit_restaurant_path(@restaurant) %>

		<div class="restaurant_owner_view_restaurant_all_reservations">
		<h2>All Reservations for <%= @restaurant.name %></h2>
			<% two_months_in_weeks(@date).each do |week| %>
				<% week.each do |day| %>
					<% reservations = @restaurant.reservations.where(reservation_date: day) %>
					<% if reservations.any? %>
						<strong><%= day.to_s %></strong>
					<% end %>
					<% reservations.each do |reservation| %>
						<div>Contact: <%= reservation.user.email %> | Guest Count: <%= reservation.guest_count %></div>
						<div>Reservation Time: <%= reservation.reservation_time.strftime("at %I:%M%p") %></div>
					<% end %>
				<% end %>
			<% end %>
		</div>
	<% else %>
		<div class="restaurant_index_customer">
			<%= @restaurant.picture_url %>
			<ul>
				<li><%= @restaurant.name %></li>
				<li><%= @restaurant.address %></li>
				<li>Open at: <%= @restaurant.open_time.strftime("at %I:%M%p") %></li>
				<li>Closing at: <%= @restaurant.closing_time.strftime("at %I:%M%p") %></li>
				<li><%= link_to "Create a reservation for #{@restaurant.name}", restaurant_reservations_path(@restaurant.id) %></li>
			</ul>
		</div>
		<div class="restaurant_index">
			<%= @restaurant.menu %>
		</div>
	<% end %>
