<!DOCTYPE html>
<html>
<head>
  <title>Seatyourself</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:alert] %>
    <ul>
      <% if flash[:alert].class == String %>
        <li><%= flash[:alert] %></li>
      <% else %>
        <% flash[:alert].each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<%= yield %>

</body>
</html>
